[Unit]
Description=Schedule raspi-ai auto update checks

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
AccuracySec=30s
Persistent=true
Unit=raspi-ai-update.service

[Install]
WantedBy=timers.target
